<h1><%= @trip.name %></h1>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  var json = <%= raw(@trip.steps.to_json) %>;
</script>
<script type="text/javascript" src="assets/trip_show.js"></script>
<div id="map_canvas" class="map_canvas"></div>
  <p><b>Description:</b>
<div class="block">
  <%= @trip.description %></p>
</div>

<hr/>
<h2>List of trip details:</h2>
<hr/>
<% @trip.steps.each do |step| %>
  <h3><%= step.location %></h3>
<div class="block">
  <% if step != @trip.steps.first %>
    <p><b>Arrival: </b><%= step.arrival.strftime("%B %e, %Y %l:%M %P %Z") %></p>
  <% end %>
  <% if step != @trip.steps.last %>
    <p><b>Departure: </b><%= step.departure.strftime("%B %e, %Y %l:%M %P %Z") %></p>
  <% end %>
  <% unless step.description.blank? %>
    <h4>Stop Details:</h4>
    <p><%= step.description %></p>
  <% end %>
  <% unless step.travel_info.blank? || step == @trip.steps.first %>
    <h4>Travel Details:</h4>
    <p><%= step.travel_info %></p>
  <% end %>
</div>
  <hr/>
<% end %>
